* {
    font-family: "Poppins", sans-serif;
    font-weight: 300;
    font-style: normal;

}

:root {
    --green-1: #173803 !important;
    --green-2: #416100 !important;
    --green-3: #709a08 !important;
    --green-4: #83c702 !important;
    --green-5: #bce000 !important;
}

/* BACKGROUND COLOR */
.bg-green-1 {
    background-color: var(--green-1) !important;
    color: white !important;
}

.bg-green-2 {
    background-color: var(--green-2) !important;
    color: white !important;
}

.bg-green-3 {
    background-color: var(--green-3) !important;
    color: white !important;
}


.bg-green-4 {
    background-color: var(--green-4) !important;
    color: white !important;
}


.bg-green-5 {
    background-color: var(--green-5) !important;
    color: white !important;
}



/* BUTTON CLASS */
.btn {
    border-radius: 0;
}

.btn-green-1 {
    background-color: var(--green-1) !important;
    color: white !important;
}

.btn-green-1:hover {
    background-color: var(--green-1) !important;
    color: white !important;
    opacity: .9 !important;
}

.btn-green-2 {
    background-color: var(--green-2) !important;
    color: white !important;
}

.btn-green-2:hover {
    background-color: var(--green-2) !important;
    color: white !important;
    opacity: 0.9 !important;
}

.btn-green-3 {
    background-color: var(--green-3) !important;
    color: white !important;
}

.btn-green-3:hover {
    background-color: var(--green-3) !important;
    color: white !important;
    opacity: .9 !important;
}

.btn-green-4 {
    background-color: var(--green-4) !important;
    color: white !important;
}

.btn-green-4:hover {
    background-color: var(--green-4) !important;
    color: white !important;
    opacity: 0.9 !important;
}

.btn-green-5 {
    background-color: var(--green-5) !important;
    color: white !important;
}

.btn-green-5:hover {
    background-color: var(--green-5) !important;
    color: white !important;
    opacity: 0.9 !important;
}

.btn-outline-green-1 {
    background: transparent;
    border: 2px solid var(--green-1) !important;
    color: var(--green-1) !important;
}

.btn-outline-green-1:hover {
    background: var(--green-1);
    border: 2px solid var(--green-1) !important;
    color: white !important;
    opacity: .9 !important;
}

.btn-outline-green-2 {
    background: transparent;
    border: 2px solid var(--green-2) !important;
    color: var(--green-2) !important;
}

.btn-outline-green-2:hover {
    background: var(--green-2);
    border: 2px solid var(--green-2) !important;
    color: white !important;
    opacity: 0.9 !important;
}

.btn-outline-green-3 {
    background: transparent;
    border: 2px solid var(--green-3) !important;
    color: var(--green-3) !important;
}

.btn-outline-green-3:hover {
    background: var(--green-3);
    border: 2px solid var(--green-3) !important;
    color: white !important;
    opacity: .9 !important;
}

.btn-outline-green-4 {
    background: transparent;
    border: 2px solid var(--green-4) !important;
    color: var(--green-4) !important;
}

.btn-outline-green-4:hover {
    background: var(--green-4);
    border: 2px solid var(--green-4) !important;
    color: white !important;
    opacity: 0.9 !important;
}

.btn-outline-green-5 {
    background: transparent;
    border: 2px solid var(--green-5) !important;
    color: var(--green-5) !important;
}

.btn-outline-green-5:hover {
    background: var(--green-5);
    border: 2px solid var(--green-5) !important;
    color: black !important;
    opacity: 0.9 !important;
}

/* TEXT CLASS */
.text-green-1 {
    color: var(--green-1) !important;
}

.text-green-1:hover {
    color: var(--green-1) !important;
    opacity: .9 !important;
}

.text-green-2 {
    color: var(--green-2) !important;
}

.text-green-2:hover {
    color: var(--green-2) !important;
    opacity: 0.9 !important;
}

.text-green-3 {
    color: var(--green-3) !important;
}

.text-green-3:hover {
    color: var(--green-3) !important;
    opacity: .9 !important;
}

.text-green-4 {
    color: var(--green-4) !important;
}

.text-green-4:hover {
    color: var(--green-4) !important;
    opacity: 0.9 !important;
}

.text-green-5 {
    color: var(--green-5) !important;
}

.text-green-5:hover {
    color: var(--green-5) !important;
    opacity: 0.9 !important;
}

/* BORDER OUTLINE */
.border-green-1 {
    border: 1px solid var(--green-1) !important;
}

.border-green-1:hover {
    border: 1px solid var(--green-1) !important;
    opacity: .9 !important;
}

.border-green-2 {
    border: 1px solid var(--green-2) !important;
}

.border-green-2:hover {
    border: 1px solid var(--green-2) !important;
    opacity: 0.9 !important;
}

.border-green-3 {
    border: 1px solid var(--green-3) !important;
}

.border-green-3:hover {
    border: 1px solid var(--green-3) !important;
    opacity: .9 !important;
}

.border-green-4 {
    border: 1px solid var(--green-4) !important;
}

.border-green-4:hover {
    border: 1px solid var(--green-4) !important;
    opacity: 0.9 !important;
}

.border-green-5 {
    border: 1px solid var(--green-5) !important;
}

.border-green-5:hover {
    border: 1px solid var(--green-5) !important;
    opacity: 0.9 !important;
}

/* BORDER LEFT */
.border-left-green-1 {
    border-left: 4px solid var(--green-1) !important;
}

.border-left-green-1:hover {
    border-left: 4px solid var(--green-1) !important;
    opacity: .9 !important;
}

.border-left-green-2 {
    border-left: 4px solid var(--green-2) !important;
}

.border-left-green-2:hover {
    border-left: 4px solid var(--green-2) !important;
    opacity: 0.9 !important;
}

.border-left-green-3 {
    border-left: 4px solid var(--green-3) !important;
}

.border-left-green-3:hover {
    border-left: 4px solid var(--green-3) !important;
    opacity: .9 !important;
}

.border-left-green-4 {
    border-left: 4px solid var(--green-4) !important;
}

.border-left-green-4:hover {
    border-left: 4px solid var(--green-4) !important;
    opacity: 0.9 !important;
}

.border-left-green-5 {
    border-left: 4px solid var(--green-5) !important;
}

.border-left-green-5:hover {
    border-left: 4px solid var(--green-5) !important;
    opacity: 0.9 !important;
}